@import url('https://fonts.google.com/specimen/Poppins');

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.App {
  text-align: center;
}

ul {
  /* list-style-type: none; */
  padding-left: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.App-header {
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header-border-sticky {
  border-bottom: 1px solid #D9D9D9;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 9;
}

.header-border {
  border-bottom: 1px solid #D9D9D9;
  background: #ffffff;
}

.header-right-wrap {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 18px;
}

.header-link:hover {
  opacity: 0.8;
}

.header-link a {
  text-decoration: none;
}

.header-link a:visited {
  text-decoration: none;
  color: #000000;
}

.active-link-border {
  padding-top: 10px;
  color: #FB7756 !important;
}

.span-orange {
  color: #FB7756;
}

.span-orange-background {
  background-color: #f8d7ce;
}


.color-white {
  color: white !important;
}

.home-intro-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  position: relative;
}

.home-intro-logo {
  position: absolute;
  left: 0;
}

.home-intro-logo-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-intro-block div {
  max-width: 670px;
  min-width: 570px;
  text-align: left;
}

.home-intro-block-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 140px 0 30px;
}

.home-intro-block-footer-left {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.home-intro-block-footer-left span {
  border-bottom: 1px solid #FB7756;
}

.home-intro-block-footer-right {
  min-width: 220px;
  text-align: end;
}

.home-card-block {
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.home-cards {
  min-height: 400px;
  max-height: 400px;
  width: calc(50% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #D9D9D9;
}

.home-cards-text {
  min-height: 400px;
  width: calc(50% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #D9D9D9;
  text-decoration: none;
  color: #000000;
}

.home-cards-text:hover {
  background: rgba(34, 34, 34, 0.54);
  cursor: pointer;
}

.home-cards-text2 {
  min-height: 400px;
  width: calc(50% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #D9D9D9;
  text-decoration: none;
  color: #000000;
}

.home-cards-text2:hover {
  background: rgba(34, 34, 34, 0.54);
  cursor: pointer;
}

.tap-button-block {
  width: 150px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #FB7756;
}

.home-cards-text:hover .tap-button-block {
  background: #FB7756;
  color: #ffffff;
  padding: 0;
}

.home-cards-text2:hover .tap-button-block {
  background: #FB7756;
  color: #ffffff;
  padding: 0;
}

.card-content-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content-text-block {
  width: 390px;
}

.card-content-text-block h1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
}

.card-content-text-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.home-cards-text:hover .card-content-text-block p {
  color: #ffffff;
}

.home-cards-text:hover .card-content-text-block h1 {
  color: #ffffff;
}

.home-cards-text2:hover .card-content-text-block p {
  color: #ffffff;
}

.home-cards-text2:hover .card-content-text-block h1 {
  color: #ffffff;
}

.card-content-tag-block {
  display: flex;
  justify-content: space-around;
}

.card-content-tag {
  background: rgba(255, 221, 103, 0.51);
  padding: 4px 11px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.home-cards-text:hover .card-content-tag {
  background: rgba(255, 221, 103, 0.7);
  color: #ffffff;
}

.home-cards-text2:hover .card-content-tag {
  background: rgba(255, 221, 103, 0.7);
  color: #ffffff;
}

.card-content-tag2 {
  background: rgba(121, 97, 188, 0.38);
  padding: 4px 11px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.home-cards-text:hover .card-content-tag2 {
  background: rgba(121, 97, 188, 0.7);
  color: #ffffff;
}

.home-cards-text2:hover .card-content-tag2 {
  background: rgba(121, 97, 188, 0.7);
  color: #ffffff;
}

.card-content-tag3 {
  background: rgba(97, 188, 146, 0.47);
  padding: 4px 11px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.home-cards-text:hover .card-content-tag3 {
  background: rgba(97, 188, 146, 0.7);
  color: #ffffff;
}

.home-cards-text2:hover .card-content-tag3 {
  background: rgba(97, 188, 146, 0.7);
  color: #ffffff;
}

.card-img-border {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-cards-text:hover .card-content-text {
  border: 4px solid #FB7756;
  height: calc(100% - 8px);
}

.home-cards-text2:hover .card-content-text {
  border: 4px solid #FB7756;
  height: calc(100% - 8px);
}

.footer {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-border {
  border-top: 1px solid #D9D9D9;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 52px;
}

.footer-left-orange {
  color: #FB7756;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
}

.footer-right button {
  width: 114px;
  height: 32px;
  background: #fbe5df;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.footer-right button:hover {
  background: #D9D9D9;
}

.arrow-img {
  max-width: 50px;
  max-height: 24px;
}

.App-link {
  color: #61dafb;
}

.about-wrapper {
  min-height: 650px;
  display: flex;
  margin: 40px 0 60px;
}

.margin-0 {
  margin: 0;
}

.about-download-link-768 {
  display: none;
}

.about-download-link {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-avatar {
  width: 285px;
  height: 272px;
}

.about-block-left {
  height: 540px;
  min-width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 70px;
}

.about-block-left button {
  width: 100%;
  min-width: 270px;
  height: 54px;
  background: #fbe5df;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.about-block-left button:hover {
  background: #D9D9D9;
}

.about-block-left-title {
  text-align: start;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.about-block-right {
  min-height: 540px;
  height: 100%;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-hard-skills {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold-text {
  font-weight: 600;
}

.btn {
  width: 110px;
  height: 25px;
  background: #ddd;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.btn.download {
  background: #fbe5df;
}

.btn.download .cloud {
  box-shadow: 0px 0px #f49845, 1px 1px #f49845, 2px 2px #f49845, 3px 3px #f49845, 4px 4px #f49845, 5px 5px #f49845, 6px 6px #f49845, 7px 7px #f49845, 8px 8px #f49845, 9px 9px #f49845, 10px 10px #f49845, 11px 11px #f49845, 12px 12px #f49845, 13px 13px #f49845, 14px 14px #f49845, 15px 15px #f49845, 16px 16px #f49845, 17px 17px #f49845, 18px 18px #f49845, 19px 19px #f49845, 20px 20px #f49845, 21px 21px #f49845, 22px 22px #f49845, 23px 23px #f49845, 24px 24px #f49845, 25px 25px #f49845, 26px 26px #f49845, 27px 27px #f49845, 28px 28px #f49845, 29px 29px #f49845, 30px 30px #f49845, 31px 31px #f49845, 32px 32px #f49845, 33px 33px #f49845, 34px 34px #f49845, 35px 35px #f49845, 36px 36px #f49845, 37px 37px #f49845, 38px 38px #f49845, 39px 39px #f49845, 40px 40px #f49845, 41px 41px #f49845, 42px 42px #f49845, 43px 43px #f49845, 44px 44px #f49845, 45px 45px #f49845, 46px 46px #f49845, 47px 47px #f49845, 48px 48px #f49845, 49px 49px #f49845, 50px 50px #f49845;
}

.btn.download .arrow {
  -webkit-animation: download 1s linear infinite;
  animation: download 1s linear infinite;
}

.cloud {
  width: 17px;
  height: 8px;
  position: relative;
  background: #fff;
  display: inline-block;
  border-radius: 50px;
  margin: 8px auto 0;
  box-shadow: 0px 0px #f49845, 1px 1px #f49845, 2px 2px #f49845, 3px 3px #f49845, 4px 4px #f49845, 5px 5px #f49845, 6px 6px #f49845, 7px 7px #f49845, 8px 8px #f49845, 9px 9px #f49845, 10px 10px #f49845, 11px 11px #f49845, 12px 12px #f49845, 13px 13px #f49845, 14px 14px #f49845, 15px 15px #f49845, 16px 16px #f49845, 17px 17px #f49845, 18px 18px #f49845, 19px 19px #f49845, 20px 20px #f49845, 21px 21px #f49845, 22px 22px #f49845, 23px 23px #f49845, 24px 24px #f49845, 25px 25px #f49845, 26px 26px #f49845, 27px 27px #f49845, 28px 28px #f49845, 29px 29px #f49845, 30px 30px #f49845, 31px 31px #f49845, 32px 32px #f49845, 33px 33px #f49845, 34px 34px #f49845, 35px 35px #f49845, 36px 36px #f49845, 37px 37px #f49845, 38px 38px #f49845, 39px 39px #f49845, 40px 40px #f49845, 41px 41px #f49845, 42px 42px #f49845, 43px 43px #f49845, 44px 44px #f49845, 45px 45px #f49845, 46px 46px #f49845, 47px 47px #f49845, 48px 48px #f49845, 49px 49px #f49845, 50px 50px #f49845;
}

.cloud:after,
.cloud:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: -4px;
  background: #fff;

  left: 2px;
}

.cloud:before {
  width: 5px;
  height: 5px;
  left: 9px;
}

.arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  top: 10px;
  width: 5px;
  height: 6px;
  background: #97ca03;
  display: inline-block;
}

.arrow:after {
  content: "";
  position: absolute;
  left: -2.5px;
  top: 100%;
  border: 5px solid transparent;
  border-top-color: #97ca03;
}

@-webkit-keyframes download {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes download {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.footer-studycase {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.footer-studycase1-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.footer-studycase2-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.home-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.footer-studycase1-link:hover {
  border-bottom: 1px solid #FB7756;
}

.footer-studycase2-link:hover {
  border-bottom: 1px solid #5464FF;
}

.footer-border-studycase {
  border-top: 2px solid #000000;
  position: sticky;
  bottom: 0;
  background: #ffffff;
  z-index: 10;
}

.zerno-start {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.zerno-start-img {
  /* height: 700px; */
  width: 100%;
  object-fit: cover;
  margin-bottom: 80px;
}

.zerno-start-block1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.zerno-start-block1-left {
  width: 360px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.zerno-start-block1-left button {
  width: 100%;
  height: 64px;
  background: #F9E3B8;
  border-radius: 20px;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.zerno-start-block1-left button:hover {
  background: #D9D9D9;
}

.zerno-start-block1-left-content {}

.zerno-start-block1-left-content-row {
  border-top: 1px solid #7B7878;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zerno-start-block1-right {
  width: 570px;
  min-width: 480px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding-left: 10px;
}

.zerno-start-block1-right span {
  font-weight: 700;
}

.zerno-start-block2 {
  margin-bottom: 60px;
}

.zerno-start-block2-row {
  border-top: 1px solid #7B7878;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100px;
  height: 100%;
  padding: 20px 0;
}

.zerno-start-block2-row-left {}

.zerno-start-block2-row-right {
  width: 480px;
  text-align: start;
}

.zerno-start-block3 {
  background-color: rgba(249, 227, 184, 0.2);
  margin: 20px 0 0;
  margin-bottom: 80px;
}

.zerno-start-block3-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  min-height: 250px;
  justify-items: center;
  align-items: center;
  margin: 0 80px;
}

.zerno-start-block3-card {
  background: #FDAD9A;
  width: 223px;
  height: 193px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zerno-start-block3-card-inside {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  width: 203px;
  height: 173px;
  text-align: start;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.zerno-start-block3-card-inside-content {
  font-size: 14px;
  line-height: 21px;
  margin: 14px 0 0 10px;
}

.zerno-start-block3-card-inside-content-title {
  margin: 18px 0 0 10px;
}

.zerno-start-block3-card-inside-content ul{
  margin-top: 14px;
}

.emphathize-wrapper {
  margin-bottom: 80px;
}

.frame-block-title {
  /* height: 80px; */
  border-bottom: 1px solid #7B7878;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.frame-block-title h1 {
  color: #606060;
  font-size: 36px;
}

.emphathize-block1 {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-bottom: 40px;
}

.emphathize-block1-margin40 {
  display: flex;
  justify-content: space-between;
  text-align: start;
  margin-bottom: 40px !important;
}

.emphathize-block1-left {
  width: 300px;
}

.emphathize-block1-left span {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #606060;
}

.emphathize-block1-left h3 {
  margin: 6px 0 0;
  font-size: 24px;
}

.emphathize-block1-right {
  width: 620px;
  height: 100%;
  padding-left: 25px;
  border-left: 14px solid rgba(255, 184, 0, 0.26);
}

.emphathize-block2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 80px;
}

.emphathize-block2-card {
  height: 390px;
}

.emphathize-block2-card img {
  width: 100%;
  max-width: 464px;
  height: 290px;
}

.empatize-block2-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.empatize-block3 {
  background: rgba(249, 227, 184, 0.2);
  padding: 25px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
}

.empatize-line {
  border-top: 1px solid #7B7878;
  margin-bottom: 30px !important;
}

.empatize-block4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.empatize-block4-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-right: 10px;
}

.empatize-block4-left button {
  width: 361px;
  height: 64px;
  background: #F9E3B8;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.empatize-block4-left button:hover {
  background: #D9D9D9;
}

.empatize-block4-right {
  min-height: 200px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.empatize-block4-li-wrapper {
  display: flex;
  justify-content: space-between;
}

.empatize-block5-table {
  height: 355px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  margin-bottom: 80px;
}

.empatize-block5-table-sides {
  width: 353px;
  height: 100%;
}

.empatize-block5-table-center {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 353px;
  height: 100%;
}

.empatize-block5-table-header {
  height: 62px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empatize-block5-table-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 290px;
  padding: 0 30px;
}

.empatize-block5-table-content-title1 {
  color: #61BC92;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.empatize-block5-table-content-title2 {
  color: #FB7756;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.empatize-block6 {}

.empatize-block7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empatize-block7-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
  text-align: start;
}

.empatize-block7-card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 0 0 40px;
}

.empatize-block7-card {
  width: 180px;
  height: 190px;
  border: 2px solid #FB7756;
  border-radius: 20px;
  text-align: start;
  box-sizing: border-box;
}

.empatize-block7-card-content-wrap {}

.empatize-block7-card-content-title {
  padding: 10px 17px 0;
  font-size: 12px;
  line-height: 18px;
  height: 50px;
  margin-bottom: 30px;
}

.empatize-block7-card-content-body {
  padding: 0 17px 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.define-block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.define-block1-border {
  border: 1px solid #000000;
  border-radius: 20px;
  height: auto;
  width: 100%;
  max-width: 1440px;
  margin: 0 50px;
}

.define-block1-border-wrap {
  height: 100%;
  margin-left: 130px;
  margin-right: 130px;
}

.define-block1-content-wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.define-block1-content-wrap-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.define-block1-content-wrap-down {}

.define-block1-content1 {
  /* max-width: 340px; */
  width: 33%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block1-content3-right-card-wrap {
  max-width: 700px;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.define-block1-content1-text-block {
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  height: 125px;
  width: calc(100%-4px);
  text-align: start;
}

.define-block1-content1-text-block-padding {
  padding: 12px 20px;
}

.define-block1-content1-text-block-row1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
}

.define-block1-content1-text-block-row2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.define-block1-content1-text-block-row3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
}

.define-block1-content1-photo-block {
  height: 200px;
  width: 100%;
}

.define-block1-content2 {
  height: 370px;
  max-width: 700px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block1-content2-up {}

.define-block1-content2-text-block2-left {
  padding: 10px 15px;
}

.define-block1-content2-text-block3-right {
  padding: 10px 15px;
}

.define-block1-content2-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.define-block1-content2-text-block1 {
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  max-height: 160px;
  padding: 17px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;

}

.define-block1-content2-text-block1-left {
  width: 340px;
  max-width: 320px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block1-content2-text-block1-right {
  width: 340px;
  max-width: 320px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block1-content2-text-block1-right-comma-wrap {
  display: flex;
  flex-direction: column;
}

.define-block1-content2-text-block1-right-comma-wrap div {
  padding-left: 20px;
}

.define-block1-content2-text-block2 {
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  width: 336px;
  max-width: 340px;
  height: 160px;
  margin-right: 20px;
}

.define-block1-content2-text-block3 {
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  width: 336px;
  max-width: 340px;
  height: 160px;
}

.define-block1-content3 {
  width: 100%;
  height: 261px;
  display: flex;
  justify-content: space-between;
}

.define-block1-content3-card1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 384px;
}

.define-block1-content3-card1-title {
  padding-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FB7756;
}

.define-block1-content3-card1-wrap {
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  height: 160px;
  text-align: start;
  padding: 10px 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.define-block1-content3-card2 {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  background: #FDAD9A;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 339px;
  margin-right: 20px;
}

.define-block1-content3-card2-wrap-content {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.define-block1-content3-card2-wrap-content-text {
  padding: 0 10px;
}

.define-block1-content3-card3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 339px;
}

.define-block1-content3-card3-title {
  padding-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FB7756;
}

.define-block1-content3-card3-wrap {
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  height: 160px;
  text-align: start;
  padding: 10px 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.define-block2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px !important;
}

.define-block2-left {
  width: 400px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block2-right {
  width: 400px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block2-card {
  border-radius: 20px;
  background-color: #FDAD9A;
  min-height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.define-block2-card-white-border-content {
  padding: 15px;
}

.define-block2-card-white-border {
  border: 2px solid #FFFFFF;
  width: calc(100% - 26px);
  height: calc(100% - 20px);
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.define-block2-card-white-border-ul {
  margin-left: 5px;
}

.define-block2-card-white-border-ul li {
  margin-bottom: 10px;
}

.define-block2-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FB7756;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.m-0 {
  margin: 0 !important;
}

.h-auto {
  height: auto !important;
}

.min-h-none {
  min-height: fit-content !important;
}

.h-283 {
  width: 283px !important;
}

.margin-horizontal-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.define-block3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
}

.define-block3-left {
  width: 650px;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.define-block3-left-orange-border {
  border: 2px solid #f2b29f;
  width: 200px;
  height: 190px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block3-left-content {
  padding: 0 20px;
}

.define-block3-left-content:first-child {
  padding-top: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.define-block3-left-content:last-child {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.define-block3-right {
  width: 200px;
  height: 190px;
  background-color: #FDAD9A;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.define-block3-right-white-border {
  border: 2px solid #FFFFFF;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.define-block3-right-content {
  padding: 0 20px;
}

.define-block3-right-content:first-child {
  padding-top: 20px;
}

.define-block3-right-content:last-child {
  padding-bottom: 20px;
}

.define-block4 {
  display: flex;
  justify-content: space-between;
}

.define-block4-left {
  width: 450px;
  min-height: 850px;
}

.define-block4-right {
  width: 450px;
  min-height: 850px;
}

.define-block4-img {
  width: 450px;
  height: 600px;
  margin-bottom: 40px;
}

.define-block4-content {
  text-align: start;
}

.define-block4-content-row {
  padding-bottom: 14px;
  height: 100%;
  border-bottom: 1px solid #7B7878;
  margin-bottom: 20px;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.ideate-block2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ideate-block2-wrap {
  width: 1440px;
  height: 880px;
  background: #f1f3f6;
}

.ideate-block2-wrap img {
  width: 100%;
  height: 100%;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.m-none {
  margin: 0 !important;
}

.h-30 {
  height: 30px !important;
}

.space-between-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ideate-mid-fi-wrap {
  height: auto;
}

.ideate-mid-fi-wrap img {
  width: 50%;
  max-width: 720px;
}

.ideate-block3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
}

.ideate-block3-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 80px;
  align-items: center;
  justify-items: center;
}

.ideate-block3-row-block {
  height: 100%;
  width: 300px;
}

.ideate-block3-row-block span {
  height: 36px;
}

.ideate-block3-row-block-img {
  height: 100%;
  width: 100%;
}

.ideate-block3-row-block-card-wrap {
  height: 100%;
}

.ideate-block3-row-block-card-up {
  height: calc(200px - 20px);
  width: calc(100% - 20px);
  background-color: #f2b29f;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
}

.ideate-block3-row-block-card-up-white {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideate-block3-row-block-card-up-white span {
  /* height: 100px; */
  height: auto;
  width: 100%;
}

.ideate-block3-row-block-card-down {
  height: calc(200px - 20px);
  width: calc(100% - 20px);
  background-color: #F9E3B8;
  border-radius: 20px;
  padding: 10px;
}

.ideate-block3-row-block-card-down-black {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid #000000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideate-block3-row-block-card-down-black span {
  height: auto;
  width: 100%;
}

.ideate-block4-img-height {
  height: 1250px !important;
}

.ideate-block5-wrap img {
  height: 590px;
  width: 100%;
}

.ideate-block6-wrap {
  height: auto;
  text-align: start;
}

.ideate-block6-wrap div {
  margin-bottom: 20px;
}

.ideate-block6-wrap div:last-child {
  margin-bottom: 0;
}

.figma-tap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
}

.figma-tap div {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figma-tap span {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #606060;
}

.prototype-outcome {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.prototype-outcome-row-content {
  width: 500px;
  height: 100%;
  margin: 0 0 5px 0;
}

.prototype-outcome-row-content div{
  margin-bottom: 25px;
}

.prototype-outcome-row-content span {
  padding: 0 0 20px 0;
}

.projector-start-block1 {
  height: 530px !important;
}

.projector-start-block2-bg {
  background: #F1F3F6;
  padding-top: 80px;
  padding-bottom: 80px;
}

.projector-start-block2-progress {
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  color: #3548FE;
}

.projector-start-block2-progress-title {
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projector-start-block2-progress-wrap {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
}

.projector-start-block2-progress-wrap-rows {
  display: none;
}

.projector-start-block2-progress-wrap-init {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projector-start-block2-progress-card {
  width: 168px;
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projector-start-block2-progress-card-down {
  width: 168px;
  height: 150px;
  position: relative;
}

.projector-start-block2-progress-card-down span {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  right: 0;
}

.projector-start-block3 {
  height: auto;
  margin: 40px 0;
}

.projector-start-block3-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.projector-start-block3-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #3548FE;
  padding-bottom: 30px;
}

.projector-start-block4 {
  background: url('./assets/projectorBlueBgContent.png') 100% 100% no-repeat;
  background-size: cover;
  height: 170px !important;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projector-start-block4-wrap {
  height: 100px;
}

.projector-start-block4-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.projector-start-block4-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 20px;
}

.projector-empatize-block1 {}

.projector-empatize-block1-row {
  text-align: start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
  max-width: 1440px;
}

.projector-empatize-block1-bg-left {
  background: url('./assets/projectorBlueBgBlock5RowUp.png') 100% 100% no-repeat;
  background-size: cover;
  width: 50%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projector-empatize-block1-bg-right {
  background: url('./assets/projectorBlueBgBlock5RowDown.png') 100% 100% no-repeat;
  background-size: cover;
  width: 50%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projector-empatize-block1-card-content {
  width: 90%;
  height: auto;
  max-height: 300px;
  min-height: 300px;
  margin: 0 80px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projector-empatize-block1-card-content-min {
  min-height: auto;
}

.projector-empatize-block1-card-content-block4 {
  display: flex;
  justify-content: space-between;
}

.projector-empatize-block1-card-content-block4-list {
  width: 250px;
}

.projector-empatize-block1-card-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projector-empatize-block1-card-right-img {
  width: auto;
}

.projector-empatize-block1-card-right-img img {
  width: 100%;
  height: auto;
}

.projector-empatize-block1-row-up-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
  height: 50px;
}

.projector-empatize-block1-row-up-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.projector-empatize-block1-card-left {
  width: 50%;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-black {
  color: #000000 !important;
}

.projector-emphathize-block2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-bottom: 80px;
}

.projector-emphathize-block2-card {
  height: 100%;
}

.projector-emphathize-block2-card img {
  width: 100%;
  margin-bottom: 30px;
}

.projector-emphathize-block3 {}

.projector-define-block1-border {
  border: 2px solid #3548FE !important;
}

.span-blue-background {
  background-color: #5365FF;
}

.bg-blue {
  background: #5365FF !important;
}

.color-blue {
  color: #3548FE !important;
}

.bg-black {
  background: #2C2C30 !important;
}

.projector-define-block1 {
  height: 720px !important;
}

.projector-ideate-block1-height {
  height: auto !important;
}

.projector-prototype-block3-wrap {
  max-width: 1240px;
}

.projector-prototype-block3-wrap-div1 {
  height: 1685px;
}

.projector-prototype-block3-wrap-div2 {
  height: 1695px;
}

.projector-prototype-block3-wrap-div3 {
  height: 1505px;
}

.projector-prototype-block3-wrap-div4 {
  height: 1520px;
}

.projector-prototype-block3-wrap-div5 {
  height: 100%;
}

.define-block3-left-arrow-768 {
  display: none;
}

.projectorFinalDesign {
  width: 100%;
}

@media (max-width: 1500px) {
  .container {
    margin: 0 190px;
  }

  .empatize-block7-card-wrap {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .projector-emphathize-block2 {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

}

@media (max-width: 1440px) {
  .zerno-start-block3-wrap {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 1350px) {
  .br-home {
    display: none;
  }
}

@media (max-width: 1240px) {
  .home-intro-logo {
    display: none;
  }

  .zerno-start-block3-wrap {
    margin: 0 20px;
  }

  .projector-start-block2-progress-wrap-rows {
    display: flex;
  }
  
  .projector-start-block2-progress-wrap-init {
    display: none;
  }
}

@media (max-width: 1100px) {
  .container {
    margin: 0 130px;
  }

  .br-home {
    display: none;
  }

  .define-block1-content2-text-block1 {
    font-size: 12px;
  }

  .define-block1-content2-down {
    font-size: 12px;
  }

  .define-block1-content1-text-block-row1 {
    font-size: 12px;
  }

  .define-block1-content1-text-block-row2 {
    font-size: 12px;
  }

  .define-block1-content1-text-block-row3 {
    font-size: 12px;
  }

  .define-block1-content3-card1-wrap {
    font-size: 12px;
  }

  .define-block1-content3-card3-wrap {
    font-size: 12px;
  }

  .define-block1-content3-card2 {
    font-size: 12px;
  }

  .define-block2-card-white-border {
    font-size: 12px;
  }

  .define-block1-content2-text-block1-right {
    width: 200px;
  }

  .define-block1-content2-text-block1-left {
    width: 200px;
  }

  .define-block1-content2-text-block2 {
    width: 220px;
  }

  .define-block1-content2-text-block3 {
    width: 220px;
  }

  .define-block1-content3-card2 {
    width: 220px;
  }

  .define-block1-content3-card3 {
    width: 220px;
  }

  .define-block1-border-wrap {
    margin-left: 100px;
    margin-right: 100px;
  }

  .define-block4-img {
    width: 380px;
    height: 550px;
  }

  .define-block4-left {
    width: 380px;
  }

  /* projector adaptive */

  .projector-start-block1 {
    height: auto !important;
  }

  .projector-start-block3 {
    height: auto;
  }

  .projector-define-block1 {
    height: auto !important;
  }

  .projector-empatize-block1-card-content {
    margin: 0 40px;
  }

  .ideate-block2-wrap {
    height: auto;
  }

  .projector-prototype-block3-wrap-div1 {
    height: auto;
  }

  .projector-prototype-block3-wrap-div2 {
    height: auto;
  }

  .projector-prototype-block3-wrap-div3 {
    height: auto;
  }

  .projector-prototype-block3-wrap-div4 {
    height: auto;
  }

  .projector-prototype-block3-wrap-div5 {
    height: auto;
  }

  .projector-start-block4-wrap {
    height: auto;
  }

  .projector-start-block4 {
    height: auto !important;
    min-height: 170px;
  }
}

@media (max-width: 1024px) {

  .container {
    margin: 0 100px;
  }

  .home-cards {
    display: none;
  }

  .home-card-block {
    justify-content: center;
    margin: 0 100px;
    width: auto;
    margin-bottom: 20px;
  }

  .home-intro-block p {
    text-align: center;
  }

  .home-cards-text {
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),
      url('./assets/zernoHighRes.png') 100% 100% no-repeat;
    background-size: cover;
  }

  .home-cards-text2 {
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),
      url('./assets/projectorHighRes.png') 100% 100% no-repeat;
    background-size: cover;
  }

  .card-content-text-block {
    color: #FFFFFF;
  }

  .zerno-start-block1-left {
    width: 280px;
    padding-right: 10px;
  }

  .zerno-start-block1-right {
    width: 380px;
    min-width: 0;
    padding-left: 10px;
  }

  .zerno-start-block2-row-right {
    width: 380px;
  }

  .emphathize-block1-right {
    width: 380px;
  }

  .empatize-block4-right {
    width: 380px;
    padding-left: 10px;
  }

  .empatize-block4-left button {
    width: 280px;
    padding-right: 10px;
  }

  .define-block2-right {
    width: 300px;
  }

  .define-block1-content3-card2 {
    width: 200px;
  }

  .define-block1-content3-card3 {
    width: 200px;
  }

  .define-block2-left {
    width: 300px;
  }

  .define-block3 {
    flex-direction: column;
  }

  .define-block4-right {
    width: 380px;
  }

  .define-block4-img {
    width: 300px;
    height: 450px;
  }

  .ideate-block4-img-height {
    height: 1000px !important;
  }

  .ideate-block5-wrap img {
    height: 450px;
  }

  .ideate-block2-wrap {
    height: 680px;
  }

  .prototype-outcome-row-content {
    width: 380px;
  }

  .ideate-mid-fi-wrap {
    height: auto;
  }

  .define-block1-content2-text-block1 {
    font-size: 10px;
  }

  .define-block1-content2-down {
    font-size: 10px;
  }

  .define-block1-content1-text-block-row1 {
    font-size: 10px;
  }

  .define-block1-content1-text-block-row2 {
    font-size: 10px;
  }

  .define-block1-content1-text-block-row3 {
    font-size: 10px;
  }

  .define-block1-content3-card1-wrap {
    font-size: 10px;
  }

  .define-block1-content3-card3-wrap {
    font-size: 10px;
  }

  .define-block1-content3-card2 {
    font-size: 10px;
  }

  .define-block1-content2-text-block1-right {
    width: 180px;
  }

  .define-block1-content2-text-block1-left {
    width: 180px;
  }

  .define-block1-content2-text-block2 {
    width: 200px;
  }

  .define-block1-content2-text-block3 {
    width: 200px;
  }

  .empatize-block5-table-header img {
    width: 80%;
  }

  /* projector adaptive */

  .projector-empatize-block1-row-up-content {
    font-size: 12px;
  }
}

@media (max-width: 920px) {
  .empatize-block5-table-content {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .define-block1-border-wrap {
    margin-left: 30px;
    margin-right: 30px;
  }

  .define-block4-img {
    width: 270px;
    height: 400px;
  }

  .define-block4-left {
    width: 270px;
  }

  .define-block4-right {
    width: 270px;
  }

  .zerno-start-block1-left {
    width: 230px;
  }

  .zerno-start-block1-right {
    width: 350px;
  }

  .zerno-start-block2-row-right {
    width: 350px;
  }

  .empatize-block4-right {
    width: 350px;
  }

  .empatize-block4-left {
    width: 270px;
  }

  .empatize-block4-left button {
    width: 270px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 50px;
  }

  .home-card-block {
    margin: 0 50px 20px;
  }

  .about-wrapper {
    flex-direction: column;
  }

  .about-block-left {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 40px;
    height: 200px;
  }

  .about-block-left button {
    padding: 10px;
  }

  .about-download-link {
    display: none;
  }

  .about-download-link-768 {
    display: block;
  }

  .about-height-768 {
    height: 70px !important;
  }

  .about-block-left-title {
    height: 200px;
    margin: 0;
    justify-content: space-between;
  }

  .about-avatar {
    width: 200px;
    height: 200px;
    margin-right: 50px;
  }

  .define-block1-content2-text-block1 {
    font-size: 8px;
  }

  .define-block1-content2-down {
    font-size: 8px;
  }

  .define-block1-content1-text-block-row1 {
    font-size: 8px;
  }

  .define-block1-content1-text-block-row2 {
    font-size: 8px;
  }

  .define-block1-content1-text-block-row3 {
    font-size: 8px;
  }

  .define-block1-content3-card1-wrap {
    font-size: 8px;
  }

  .define-block1-content3-card3-wrap {
    font-size: 8px;
  }

  .define-block1-content3-card2 {
    font-size: 8px;
  }

  .define-block1-content2-text-block1-right {
    width: 160px;
  }

  .define-block1-content2-text-block1-left {
    width: 160px;
  }

  .define-block1-content2-text-block2 {
    width: 180px;
  }

  .define-block1-content2-text-block3 {
    width: 180px;
  }

  .define-block1-content3-card2 {
    width: 180px;
  }

  .define-block1-content3-card3 {
    width: 180px;
  }


  .define-block1-border-wrap {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* .define-block4-img {
    width: 200px;
    height: 350px;
  } */

  /* .define-block4-left {
    width: 220px;
  }

  .define-block4-right {
    width: 220px;
  } */

  .define-block3-left-arrow {
    display: none;
  }

  .define-block3-left-arrow-768 {
    display: block;
    width: 45%;
    display: flex;
    justify-content: center;
  }

  .define-block3-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
    margin-top: 20px;
  }

  .define-block3-left-orange-border {
    width: 45%;
  }

  .define-block3-right {
    width: 45%;
  }

  /* projector adaptive */

  .projector-empatize-block1-card-content {
    margin: 0 20px;
  }
}

@media (max-width: 650px) {

  .home-intro-block div {
    min-width: 0;
  }

  .define-block1-content3-card2 {
    display: none;
  }

  .define-block1-content3-card1 {
    width: 45%;
  }

  .define-block1-content3-card3 {
    width: 45%;
  }

  .define-block1-content3 {
    height: auto;
  }

  .define-block1-content3-card1-title {
    padding: 0 0 10px;
  }

  .define-block1-content3-card3-title {
    padding: 0 0 10px;
  }

  .define-block1-content2 {
    width: 100%;
  }

  .define-block1-content-wrap-up {
    flex-direction: column;
  }

  .define-block1-content1 {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .define-block1-content1-photo-block {
    height: 140px;
  }

  .define-block1-content1-text-block {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .define-block1-border-wrap {
    margin-left: 30px;
    margin-right: 30px;
  }

  .define-block2-left {
    width: 250px;
    padding-right: 10px;
  }

  .define-block2-right {
    width: 250px;
    padding-left: 10px;
  }

  .define-block3-left {
    width: 100%;
  }

  .define-block4-img {
    width: 220px;
    height: 300px;
  }

  .ideate-block2-wrap {
    height: 500px;
  }

  .zerno-start-block1-right {
    width: 270px;
  }

  .zerno-start-block2-row-right {
    width: 270px;
  }

  .empatize-block4-right {
    width: 270px;
    font-size: 10px;
  }

  .empatize-block4-left button {
    width: 230px;
  }

  .empatize-block4-left {
    width: 230px;
  }

  .ideate-block5-wrap img {
    height: 350px;
  }

  .define-block1-content2-text-block1 {
    font-size: 10px;
  }

  .define-block1-content2-down {
    font-size: 10px;
  }

  .define-block1-content1-text-block-row1 {
    font-size: 10px;
  }

  .define-block1-content1-text-block-row2 {
    font-size: 10px;
  }

  .define-block1-content1-text-block-row3 {
    font-size: 10px;
  }

  .define-block1-content3-card1-wrap {
    font-size: 10px;
  }

  .define-block1-content3-card3-wrap {
    font-size: 10px;
  }

  .define-block1-content3-card2 {
    font-size: 10px;
  }

  .define-block2-card-white-border {
    font-size: 10px;
  }

  .zerno-start-block1 {
    font-size: 10px;
  }

  .zerno-start-block2 {
    font-size: 10px;
  }

  .zerno-start-block3-card-inside-content {
    font-size: 10px;
  }

  .emphathize-block1 {
    font-size: 10px;
  }

  .empatize-block2-list {
    font-size: 10px;
  }

  .empatize-block3 {
    font-size: 10px;
  }

  .emphathize-block1-margin40 {
    font-size: 10px;
  }

  .ideate-block3 {
    font-size: 10px;
  }

  .ideate-block6-wrap {
    font-size: 10px;
  }

  .prototype-outcome {
    font-size: 10px;
  }

  .footer-studycase {
    font-size: 10px;
  }

  .define-block3-right {
    font-size: 10px;
  }

  .define-block1-content3-right-card-wrap {
    justify-content: flex-end;
  }

  .define-block1-content3-card1 {
    width: 200px;
  }

  .define-block1-content3-card3 {
    width: 180px;
  }

  .define-block4-left {
    width: 220px;
    min-height: 600px;
    font-size: 10px;
  }

  .define-block4-right {
    width: 220px;
    min-height: 600px;
    font-size: 10px;
  }

  .empatize-block5-table {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto 80px;
  }

  .empatize-block5-table-center {
    border: none;
    width: 100%;
  }

  .empatize-block5-table-header {
    height: 85px;
    border-top: 1px solid #000000;
  }

  .empatize-block5-table-header-first-500 {
    border-top: none;
  }

  .empatize-block5-table-sides {
    width: 100%;
  }

  /* projector adaptive */

  .projector-empatize-block1-row-up-content {
    font-size: 10px;
  }

  .projector-start-block2-progress-card {
    width: 120px;
  }

  .projector-start-block2-progress-card-down {
    width: 120px;
  }

  .svgDesignProcessStars {
    width: 100%;
    height: 100%;
  }

  .projector-start-block2-progress-card-down {
    font-size: 14px;
  }

  .projector-emphathize-block2 {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0 10px;
  }

  .App-header {
    font-size: 12px;
  }

  .ideate-block5-wrap img {
    height: 300px;
  }

  .ideate-block2-wrap {
    height: 350px;
  }

  .zerno-start-block1-left button {
    height: 44px;
    font-size: 12px;
  }

  .empatize-block2-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .zerno-start-block1-left {
    width: 170px;
  }

  .define-block2-card {
    height: auto;
  }

  .define-block2-card-white-border {
    margin: 20px 0;
    min-height: 320px;
  }

  .define-block2-left {
    height: auto;
  }

  .define-block2-right {
    height: auto;
  }

  .define-block1-content3-card1-wrap {
    height: auto;
    min-height: 190px;
  }

  .define-block1-content3-card3-wrap {
    min-height: 190px;
  }

  .define-block1-content2-text-block2 {
    height: auto;
    min-height: 180px;
  }

  .define-block1-content2-text-block3 {
    min-height: 180px;
  }

  .define-block1-content2 {
    height: 390px;
  }

  .zerno-start-block1-right {
    width: 100%;
    max-width: 200px;
  }

  .zerno-start-block2-row-right {
    width: 100%;
    max-width: 200px;
  }

  .empatize-block4-left {
    width: 170px;
  }

  .empatize-block4-left button {
    width: 170px;
    height: 44px;
    font-size: 12px;
  }

  .empatize-block4-right {
    width: 100%;
    max-width: 200px;
  }

  .prototype-outcome-row-content {
    width: 100%;
    max-width: 200px;
  }

  .emphathize-block2 {
    grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
  }

  .emphathize-block2-card img {
    max-width: 385px;
  }

  .margin-horizontal-50 {
    margin: 0 10px !important;
  }

  .footer-studycase {
    display: none;
  }

  .home-card-block {
    margin: 0 10px 20px;
  }

  .about-download-link-768 {
    display: none;
  }

  .about-download-link {
    display: block;
  }

  .about-block-left-title {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .about-block-left {
    flex-direction: column;
    height: 450px;
  }

  .about-avatar {
    width: 270px;
    height: 270px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about-block-left button {
    width: 270px;
  }

  .about-block-right {
    text-align: center;
  }

  .define-block1-content2-text-block2 {
    width: 160px;
  }

  .define-block1-content2-text-block3 {
    width: 160px;
  }

  .define-block1-border-wrap {
    margin-left: 10px;
    margin-right: 10px;
  }

  .define-block1-content1-photo-block {
    height: 100px;
  }

  .define-block1-content1 {
    align-items: center;
  }

  .define-block4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .figma-tap {
    margin-left: auto;
  }
}

/* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px 0 0; */