.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}


.App-header {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 100px;
}

.header-link {
  margin-right: 18px;
}

.header-link a {
  text-decoration: none;
}

.header-link a:visited {
  text-decoration: none;
  color: #000000;
}

.active-link-border {
  border-bottom: 2px solid #FB7756;
  padding-top: 10px;
}

.App-link {
  color: #61dafb;
}